.container {
    width: 100%;
    flex-grow: 1;
    display: inline-flex;
    position: relative;
    margin-top: 80px;
}

.content {
    display: inline-block;
    position: relative;
    margin-left: 2vh;
    // margin-top: 1vhs;
    margin-bottom: 10vh;
    margin-top: 2vh;
    // overflow-y: scroll;
    // min-height: 500px;
    width: 100%;
    // border: 4px solid rgb(224, 30, 30);
}