.footer {
    width: 100%;
    background-color: #3F51B5;
    height: 60px;
    bottom: 0px;
    position: fixed;
    text-align: center;
    padding: 20px;
    // display: inline-block;
    // position: absolute;
}

.footer p {
    color: #fff;
}